/* styles.module.css */
.services-scrollbar {
    overflow-y: hidden; 
}

.services-scrollbar:hover {
    overflow-y: auto; 
}

.services-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.services-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
}

.services-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
}

.services-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #e5e5e5; 
}

.services-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #e5e5e5; 
}
